.cafe-double-button-wrap {
	display: flex;
	align-items: center;
}
.cafe-double-main-button-container {
	flex-direction: row;
    display: flex;
	position: relative;
}
.cafe-first-button-content {
	position: relative;
}
.cafe-double-main-button-container .cafe-divider-button-content {
	position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
	line-height: 1;
}
.cafe-first-button-link,
.cafe-second-button-link {
	display: block;
	-webkit-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s;
}