/* Posts Box */
.cafe-addons-blog-posts-elementor .cafe-addons-elementor-blog-title {
	padding: 0;
    margin: 0;
    line-height: 1;
}
.cafe-addons-blog-posts-elementor {
	width: 100%;
}
.cafe-addons-blog-posts-elementor .entry-thumb {
	margin-bottom: 15px;
}
.cafe-addons-blog-posts-elementor .entry-thumb img {
	width: 100%;
	display: block;
}
.cafe-addons-blog-posts-elementor .latest-news-wrapper {
	display: grid;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.cafe-addons-blog-posts-elementor .cafe-blog-grid-meta i.spaceLeftRight {
	margin: 0 0.5em;
}
.cafe-addons-blog-posts-elementor.number-columns-1 .latest-news-wrapper {
	grid-template-columns: repeat(1,1fr);
}
.cafe-addons-blog-posts-elementor.number-columns-2 .latest-news-wrapper {
	grid-template-columns: repeat(2,1fr);
}
.cafe-addons-blog-posts-elementor.number-columns-3 .latest-news-wrapper {
	grid-template-columns: repeat(3,1fr);
}
.cafe-addons-blog-posts-elementor.number-columns-4 .latest-news-wrapper {
	grid-template-columns: repeat(4,1fr);
}
.cafe-addons-blog-posts-elementor.number-columns-5 .latest-news-wrapper {
	grid-template-columns: repeat(5,1fr);
}
.cafe-addons-blog-posts-elementor article {
	margin: 0;
	border-bottom-width: 0;
}
@media all and (max-width: 1025px) {
	.cafe-addons-blog-posts-elementor.number-columns-4 .latest-news-wrapper {
		grid-template-columns: repeat(2,1fr);
	}
	.cafe-addons-blog-posts-elementor.number-columns-5 .latest-news-wrapper {
		grid-template-columns: repeat(3,1fr);
	}
}
@media all and (max-width: 768px) {
	.cafe-addons-blog-posts-elementor.number-columns-3 .latest-news-wrapper,
	.cafe-addons-blog-posts-elementor.number-columns-4 .latest-news-wrapper,
	.cafe-addons-blog-posts-elementor.number-columns-5 .latest-news-wrapper {
		grid-template-columns: repeat(2,1fr);
	}
}
@media all and (max-width: 767px) {
	.cafe-addons-blog-posts-elementor.number-columns-1 .latest-news-wrapper,
	.cafe-addons-blog-posts-elementor.number-columns-2 .latest-news-wrapper,
	.cafe-addons-blog-posts-elementor.number-columns-3 .latest-news-wrapper,
	.cafe-addons-blog-posts-elementor.number-columns-4 .latest-news-wrapper,
	.cafe-addons-blog-posts-elementor.number-columns-5 .latest-news-wrapper {
		grid-template-columns: repeat(1,1fr);
	}
}