.wrap h1 {
	display: none;
}
.cresta-addons-for-elementor-panel {
	background-color: #ffffff;
    margin: 25px 0 0;
    border-radius: 5px;
	box-shadow: 10px 10px 10px 0 rgba(0,0,0,.05);
}
.cresta-addons-for-elementor-panel h2 {
	text-align: center;
    font-weight: 500;
    font-size: 25px;
	color: #ffffff;
}
.cresta-addons-for-elementor-panel h2 .cafe-version {
	vertical-align: super;
    font-size: 13px;
    margin: 0 8px;
    opacity: 0.6;
}
.cresta-addons-for-elementor-panel .form-table {
	text-align: center;
}
.cresta-addons-for-elementor-panel .form-table tr {
	display: inline-block;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0 rgba(0,0,0,.08);
}
.cresta-addons-for-elementor-panel .form-table tr th {
	display: block;
    text-align: center;
	padding: 10px;
}
.cresta-addons-for-elementor-panel .form-table tr td {
	display: block;
    text-align: center;
	margin: 0;
}
.cresta-addons-for-elementor-panel .form-table tr td .description {
	display: block;
    padding-top: 20px;
}
.cresta-addons-for-elementor-panel .form-table tr td .description a {
	text-decoration: none;
    font-weight: 500;
    color: #a0a0a0;
}
.cresta-addons-for-elementor-panel .form-table tr td .description a:hover,
.cresta-addons-for-elementor-panel .form-table tr td .description a:focus,
.cresta-addons-for-elementor-panel .form-table tr td .description a:active {
	color: #37c4ff;
}
.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block {
	padding: 30px;
	background: linear-gradient(62deg, #8E2DE2 0%, #4A00E0 100%);
}
.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block.header {
	border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block.footer {
	border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block-content {
	padding: 30px;
}
.cresta-addons-for-elementor-panel .cafe-header-block {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.cresta-addons-for-elementor-panel .cafe-header-block-left {
	display: flex;
    flex-direction: row;
    align-items: center;
}
.cresta-addons-for-elementor-panel .cafe-header-block-left img {
	width: 80px;
	height: auto;
	display: block;
}
.cresta-addons-for-elementor-panel .cafe-header-logo {
	animation: cafe-blob 8s linear infinite;
	background: #ffffff;
    margin-right: 20px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.08);
}
.cresta-addons-for-elementor-panel .cafe-save-button,
.update-to-pro-version .cafe-save-button {
    background: #000000;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    padding: 5px 20px;
	border-width: 0;
}
.cresta-addons-for-elementor-panel .cafe-save-button.upgrade,
.update-to-pro-version .cafe-save-button.upgrade {
	background: #37c4ff;
	font-weight: 400;
}
.cresta-addons-for-elementor-panel .cafe-save-button.rate,
.update-to-pro-version .cafe-save-button.rate {
	background: #fc7878;
	font-weight: 400;
}
.cresta-addons-for-elementor-panel .cafe-save-button:hover,
.cresta-addons-for-elementor-panel .cafe-save-button:active,
.cresta-addons-for-elementor-panel .cafe-save-button:focus {
	background: #505050;
	color: #ffffff;
}
.cresta-addons-for-elementor-panel .cafe-save-button.upgrade:hover,
.update-to-pro-version .cafe-save-button.upgrade:hover,
.cresta-addons-for-elementor-panel .cafe-save-button.upgrade:active,
.update-to-pro-version .cafe-save-button.upgrade:active,
.cresta-addons-for-elementor-panel .cafe-save-button.upgrade:focus,
.update-to-pro-version .cafe-save-button.upgrade:focus {
	background: #259fd1;
	color: #ffffff;
}
.cresta-addons-for-elementor-panel .cafe-save-button.rate:hover,
.cresta-addons-for-elementor-panel .cafe-save-button.rate:active,
.cresta-addons-for-elementor-panel .cafe-save-button.rate:focus {
	background: #ff3c3c;
	color: #ffffff;
}
.cresta-addons-for-elementor-panel .cafe-icon-checkbox {
	margin-bottom: 20px;
}
.cresta-addons-for-elementor-panel .cafe-icon-checkbox i {
	font-size: 36px;
	color: #e4e4e4;
}
.cresta-addons-for-elementor-panel .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.cresta-addons-for-elementor-panel .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.cresta-addons-for-elementor-panel .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.cresta-addons-for-elementor-panel .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.cresta-addons-for-elementor-panel .switch:not(.disabled) input:checked + .slider {
  background-color: #8E2DE2;
}

.cresta-addons-for-elementor-panel input:focus + .slider {
  box-shadow: 0 0 1px #8E2DE2;
}

.cresta-addons-for-elementor-panel .switch:not(.disabled) input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block-content h2 {
	text-align: center;
    font-weight: 500;
	color: #000000;
}

.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block-content .cafe_desc_section {
	text-align: center;
    padding-bottom: 1em;
}

.cresta-addons-for-elementor-panel .switch.disabled {
	
}
.cresta-addons-for-elementor-panel .switch.disabled:before {
	position: absolute;
    content: "PRO";
    z-index: 9;
    border-radius: 50%;
    background: #37c4ff;
    color: #ffffff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 9px;
    top: -10px;
    right: -10px;
	font-style: italic;
    font-weight: 500;
}
.update-to-pro-version-box {
	display: none;
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}
.update-to-pro-version {
	display: none;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}
.update-to-pro-version .update-to-pro-version-container {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border-radius: 5px;
	padding: 30px;
}
.update-to-pro-version .update-to-pro-version-container .dashicons-info-outline {
	display: block;
    margin: 0 auto;
    font-size: 80px;
    width: auto;
    height: auto;
	color: #8E2DE2;
}
.update-to-pro-version .update-to-pro-version-container p {
	padding-bottom: 15px;
}
@keyframes cafe-blob{
	0%,100%{border-radius:43% 77% 80% 40% / 40% 40% 80% 80%}
	20%{border-radius:47% 73% 61% 59% / 47% 75% 45% 73%}
	40%{border-radius:46% 74% 74% 46% / 74% 58% 62% 46%}
	60%{border-radius:47% 73% 61% 59% / 40% 40% 80% 80%}
	80%{border-radius:50% 70% 52% 68% / 51% 61% 59% 69%}
}
@media all and (max-width: 767px) {
	.cresta-addons-for-elementor-panel {
		margin: 0;
	}
	.cresta-addons-for-elementor-panel h2 {
		display: none;
	}
	.cresta-addons-for-elementor-panel .form-table tr {
		width: 100%;
		padding: 10px 0;
		margin: 10px 0;
	}
	.cresta-addons-for-elementor-panel .cresta-addons-for-elementor-block.footer {
		flex-direction: column;
	}
}